h1{
    text-align: center;
    font-family: cocogoose;
    font-size: 40 px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.bio {
    list-style: none;
    position: relative;
    font-family: century gothic;
    text-align: left;

}

body{
    background-color:#efefef;
    height: 100%;
    width: 100%;
    background-position: center;
    height: 100vh;
    margin: 0px;
    display: flex
}

#foto{
    width: 100px;
    height: 17vw;
}

#fontbold{
    font-weight: bold;
}

.left {
    height: 100vh;
    width: 25vw;
    background-color: salmon;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    /* padding-top: 50px; */
}
#nama{
    top: 100px;
}

.right {
    height: 100vh;
    width: 75%;
    background-color: cornsilk;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
